<div class="container__big-card">
  <div class="big-card__photo">
    <img
    src="{{ photoCover }}"
    alt=""
    srcset=""
    height="200px">
  </div>
  <div class="big-card__title">
    <h1><a [routerLink]="['content', Id]">{{ cardTitle }}</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a  [routerLink]="['content', Id]">
        {{ cardDescription }}
      </a>
    </p>
  </div>
  <div class="big-card__button">
    <a  [routerLink]="['content', Id]">
      <button class="marvel-button">SAIBA MAIS</button>
    </a>
  </div>
</div>
