.container__menu-title{
  color: #fff;
}

@font-face {
  font-family: 'Bebas-Regular';
  src: url('../../../assets/fonts/Bebas-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container__menu-title >p{
  background-color: #ec1d24;
  width: 98%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;

  font-family: 'Bebas-Regular';
  font-size: 80px;
  display: flex;
  justify-content: center;
}

.container__menu-title >hr{
  margin-top: 20px;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {

  .container__menu-title >p{
    font-size: 135px;
  }

}



